.warning-modal-btn-container,
.close-modal-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    border-radius: 12px;
}

.modal-btn {
    min-width: 50%;
    margin: 0.5em;
}

.warning-modal-btn-container > .delete-list-btn {
    background-color: firebrick;
    color: #FFF;
    transition: background-color 1s;
}

.delete-list-btn:hover,
.delete-list-btn:focus {
    background-color: #830a0a;
}
